.App {
  text-align: center;
  width: 600px;
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.field:focus {
  background-color: red;
}


.cell {
  display: block;
  width: 30px;
  height: 30px;
}

.line {
  display: flex;
  margin: 0;
}

.snake {
  background-color: yellow;
}

.apple {
  background-color: red;
}

.nothing {
  background-color: ghostwhite;
}